@font-face {
    font-family: 'SpotifyCeramicMedium';
    src: url('./fonts/GothamMedium.ttf')
}

*{
    margin: 0;
    padding: 0;
    font-family: SpotifyCeramicMedium;
}

ul, li {
    list-style-type: none !important;
}

body {
    padding: 8px;
    background-color: #000000;
}

.header {
    font-size: 24px;
}
.secondaryHeader {
    font-size: 14px;
}
.secondaryHeader_2 {
    font-size: 12px;
}
.paragraph {
    font-size: 10px;
}

.pointer {
    cursor: pointer;
}

.textPrimary {
    color: #1ED760;
}
.bgPrimary {
    background-color: #1ED760;
}
.textSecondary {
    color: #ffffff;
}
.textSecondary1 {
    color: #A4A4A4;
}

.bgSecondary {
    background-color: #121212;
}

.bgSecondary1 {
    background-color: #2A2A2A;
}

/* PADDING================= */

.p-1 {
    padding: 4px;
}
.p-2 {
    padding: 8px;
}
.p-3 {
    padding: 12px;
}
.px-1 {
    padding-left: 4px;
    padding-right: 4px;
}
.py-1 {
    padding-top: 4px;
    padding-bottom: 4px;
}
.px-2 {
    padding-left: 8px;
    padding-right: 8px;
}
.py-2 {
    padding-top: 8px;
    padding-bottom: 8px;
}
.px-3 {
    padding-left: 12px;
    padding-right: 12px;
}
.py-3 {
    padding-top: 12px;
    padding-bottom: 12px;
}

/* Margin =================== */
.mt-2 {
    margin-top: 8px;
}
.mr-2 {
    margin-right: 8px;
}
.ml-2 {
    margin-left: 8px;
}
.ml-auto {
    margin-left: auto;
}
/* RADIUS =================== */
.rounded-2 {
    border-radius: 8px;
}


/* display ================= */
.flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.flex-fill {
    flex: 1;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.justify-evenly {
    justify-content: space-evenly;
}
.justify-start {
    justify-content: start;
}
.justify-end {
    justify-content: end;
}
.align-center {
    align-items: center;
}
.align-start {
    align-items: start;
}
.align-end {
    align-items: end;
}