.list-container:hover {
    background-color: #1A1A1A;
}
.noHover:hover {
    background-color: transparent !important; 
}

.image-container {
    width: 60px;
    height: 60px;
    overflow: hidden;
}
.square {
    border-radius: 4px;
}
.circle {
    border-radius: 50%;
}
.image {
    width: 100%;
    object-fit: cover;
}